{%load static%}
<footer class="footer">
    <div class="footer-row">
        <div class="footer-col">
            <h4>Nutribite</h4>
             <ul>
                <li><a href="">Makers</a></li>
                <li><a href="">Abhiram Acharya</a></li>
                <li><a href="">Prasad D. Devkar</a></li>
             </ul>
        </div>
        <div class="footer-col">
            <h4>Contact us</h4>
             <ul>
                <li><a href="#"><i class="fa-solid fa-phone"></i>  +9167879809999  </a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i>  nutribite@gmail.com  </a></li>
                <li><a href="#"><i class="fa-regular fa-address-book"></i>  Contact-us  </a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow Us</h4>
             <ul>
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter </a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin </a></li>
                <li><a href="#"><i class="fab fa-github"></i> Github </a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram </a></li>
             </ul>
        </div>
    </div>
  </footer>
  